/* COLORS */
/* COLORS */
/* line 4, ../sass/page.scss */
pre {
  border-radius: 0;
}

/* line 7, ../sass/page.scss */
#page {
  background: #eaeaea;
  float: none;
}

/* line 12, ../sass/page.scss */
#logo {
  position: absolute;
  top: 24px;
  left: 15px;
  z-index: 10;
}

/* line 19, ../sass/page.scss */
.panel {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 30px;
  padding: 0;
}

/* line 27, ../sass/page.scss */
.section-title {
  background: url("../images/bg-banner.jpg") repeat-y 50% 0 #c1e7f2;
  margin: 0;
  padding: 0 15px;
  text-align: center;
}
/* line 32, ../sass/page.scss */
.section-title .container {
  padding-bottom: 70px;
  padding-top: 70px;
  color: white;
}
/* line 38, ../sass/page.scss */
.section-title .title,
.section-title .welcome-message {
  color: white;
  font-family: armataregular,sans-serif;
  font-size: 4em;
  line-height: 1em;
  margin-bottom: 0;
  text-transform: uppercase;
}
/* line 45, ../sass/page.scss */
.section-title .title img,
.section-title .welcome-message img {
  vertical-align: top;
  margin-top: -7px;
}
/* line 50, ../sass/page.scss */
.section-title .block-inner {
  width: 100%;
}
/* line 54, ../sass/page.scss */
.section-title .content p {
  color: white;
  font-size: 3em;
}

/* line 61, ../sass/page.scss */
#title .container {
  display: table;
  height: 200px;
  margin-bottom: 30px;
  width: 100%;
}
/* line 66, ../sass/page.scss */
#title .container h1 {
  display: table-cell;
  vertical-align: middle;
}

/* line 72, ../sass/page.scss */
ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}

/* line 77, ../sass/page.scss */
.more-link {
  border-top: 1px solid #eaeaea;
  margin-top: 10px;
  padding-top: 15px;
}

/* line 84, ../sass/page.scss */
.form-submit,
.form-actions > a {
  background: #7d7d7d;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
  color: white;
  margin-right: 5px;
  padding: 5px 20px;
}
/* line 91, ../sass/page.scss */
.form-submit:hover, .form-submit:focus,
.form-actions > a:hover,
.form-actions > a:focus {
  background: #11b7da;
  border-color: #11b7da;
}

/* line 97, ../sass/page.scss */
.form-actions > a {
  background-color: #eaeaea;
  border-color: #eaeaea;
  color: #333333;
}
/* line 101, ../sass/page.scss */
.form-actions > a:hover, .form-actions > a:focus {
  background-color: #333333;
  border-color: #333333;
  color: white;
}

/* line 108, ../sass/page.scss */
.form-item, .form-actions {
  margin-top: 0;
}

/* line 112, ../sass/page.scss */
input[type="radio"], input[type="checkbox"] {
  float: left;
  margin: 0 3px 0 0;
  vertical-align: top;
}

/* Headline */
/* line 119, ../sass/page.scss */
.headline {
  padding: 10px 0;
  background: #333333;
}
/* line 122, ../sass/page.scss */
.headline .container {
  position: relative;
}
/* line 125, ../sass/page.scss */
.headline .social-list {
  float: left;
  margin-bottom: 0;
  padding-left: 0;
}
/* line 82, ../sass/includes/_mixins.scss */
.headline .social-list li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}
/* line 86, ../sass/includes/_mixins.scss */
.headline .social-list li a {
  color: white;
  height: 20px;
  line-height: 1.6;
  position: relative;
  width: 20px;
}
/* line 92, ../sass/includes/_mixins.scss */
.headline .social-list li a:before {
  font-size: 1.167em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 96, ../sass/includes/_mixins.scss */
.headline .social-list li a:hover, .headline .social-list li a:focus {
  color: #11b7da;
}
/* line 99, ../sass/includes/_mixins.scss */
.headline .social-list li a span {
  display: none;
}
/* line 128, ../sass/page.scss */
.headline #block-search-form {
  float: right;
  margin-right: 15px;
  margin-top: -5px;
  position: relative;
}
/* line 134, ../sass/page.scss */
.headline #block-search-form #search-block-form .form-actions {
  background: none;
  border: none;
  padding: 0;
}
/* line 139, ../sass/page.scss */
.headline #block-search-form #search-block-form input.form-text {
  background: #464646;
  color: #7d7d7d;
  font-style: italic;
  height: 30px;
  border: 1px solid #464646;
  padding: 0 30px 0 5px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  width: 36px;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
/* line 154, ../sass/page.scss */
.headline #block-search-form #search-block-form input.form-text:focus {
  color: white;
  font-style: normal;
}
/* line 159, ../sass/page.scss */
.headline #block-search-form #search-block-form input.form-submit {
  background: none;
  border: none;
  height: 30px;
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 99;
}
/* line 170, ../sass/page.scss */
.headline #block-search-form #search-block-form:hover input.form-text {
  filter: alpha(opacity=100);
  opacity: 1;
  width: 250px;
}
/* line 176, ../sass/page.scss */
.headline #block-search-form:before {
  color: white;
  content: "\f002";
  font-size: 1.4em;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 3px;
  right: 10px;
  z-index: 99;
}
/* line 186, ../sass/page.scss */
.headline #block-search-form:hover:before {
  color: #11b7da;
}
/* line 190, ../sass/page.scss */
.headline .block-menu {
  float: right;
}
/* line 193, ../sass/page.scss */
.headline .block-menu ul.menu a {
  color: white;
  line-height: 20px;
}
/* line 196, ../sass/page.scss */
.headline .block-menu ul.menu a:hover, .headline .block-menu ul.menu a:focus {
  color: #11b7da;
}
/* line 199, ../sass/page.scss */
.headline .block-menu ul.menu a:after {
  content: "\f08b";
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.167em;
  margin-left: 5px;
}

/* Header */
/* line 213, ../sass/page.scss */
.header {
  background: white;
  min-height: 85px;
  position: relative;
}
/* line 217, ../sass/page.scss */
.header .container {
  position: relative;
}
/* line 220, ../sass/page.scss */
.header:after {
  background: url(../images/bg-submenu.png) 0 100% no-repeat #11b7da;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
  content: "";
  height: 40px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* search advance */
/* line 234, ../sass/page.scss */
.page-search .region-content {
  margin-bottom: 50px;
}

/* line 237, ../sass/page.scss */
.search-advanced {
  width: 100%;
}
/* line 239, ../sass/page.scss */
.search-advanced:after, .search-advanced:before {
  content: " ";
  display: table;
}
/* line 243, ../sass/page.scss */
.search-advanced:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* line 250, ../sass/page.scss */
.search-advanced .fieldset-wrapper {
  clear: both;
  padding-top: 10px;
}

/* line 257, ../sass/page.scss */
.search-form .form-item > label {
  padding-right: 8px;
}
/* line 260, ../sass/page.scss */
.search-form .container-inline {
  margin-bottom: 50px;
}
/* line 262, ../sass/page.scss */
.search-form .container-inline .form-item {
  margin: 0 10px 0 0;
}

/* line 268, ../sass/page.scss */
.search-advanced {
  /* criterion */
}
/* line 269, ../sass/page.scss */
.search-advanced .fieldset-wrapper {
  margin-bottom: 50px;
}
/* line 272, ../sass/page.scss */
.search-advanced legend {
  margin-bottom: 20px;
  padding: 0 0 5px;
  overflow: hidden;
  font-size: 1.33em;
}
/* line 278, ../sass/page.scss */
.search-advanced .action {
  float: none;
  padding-top: 20px;
}
/* line 282, ../sass/page.scss */
.search-advanced .criterion {
  margin-right: 30px;
  width: 30%;
}
/* line 285, ../sass/page.scss */
.search-advanced .criterion + .criterion {
  margin-bottom: 15px;
  margin-right: 0;
  width: 65%;
}
/* line 290, ../sass/page.scss */
.search-advanced .criterion .form-type-textfield {
  overflow: hidden;
}
/* line 292, ../sass/page.scss */
.search-advanced .criterion .form-type-textfield label {
  display: block;
}
/* line 295, ../sass/page.scss */
.search-advanced .criterion .form-type-textfield input {
  width: 100%;
}
/* line 299, ../sass/page.scss */
.search-advanced .criterion .form-type-checkboxes .form-checkboxes .form-item {
  float: left;
  width: 25%;
}
/* line 303, ../sass/page.scss */
.search-advanced .criterion .form-type-checkboxes .form-checkboxes .form-item input[type="radio"],
.search-advanced .criterion .form-type-checkboxes .form-checkboxes .form-item input[type="checkbox"] {
  float: left;
  margin: 0 3px 0 0;
  vertical-align: top;
}

/* line 311, ../sass/page.scss */
html.js fieldset.collapsed {
  height: auto;
}

/* search-results */
/* line 316, ../sass/page.scss */
.search-results {
  padding: 0;
}
/* line 318, ../sass/page.scss */
.search-results .title {
  margin-bottom: 10px;
  text-transform: none;
}

/* line 324, ../sass/page.scss */
.search-wrapper {
  background: black;
  height: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 138px;
  width: 100%;
  z-index: 3;
  -moz-transition: height .2s ease;
  -webkit-transition: height .2s ease;
  transition: height .2s ease;
}
/* line 337, ../sass/page.scss */
.search-wrapper .container-inline {
  margin: 30px auto;
  position: relative;
  width: 70%;
}
/* line 342, ../sass/page.scss */
.search-wrapper input {
  background: none;
}
/* line 345, ../sass/page.scss */
.search-wrapper .form-text {
  color: white;
  height: 50px;
  padding-right: 100px;
  padding-left: 20px;
  width: 100%;
}
/* line 352, ../sass/page.scss */
.search-wrapper .form-submit {
  border: none;
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 361, ../sass/page.scss */
.search-wrapper.open {
  height: 110px;
}

/* Breadcrumb */
/* line 366, ../sass/page.scss */
#breadcrumb {
  margin-bottom: 30px;
}

/* line 369, ../sass/page.scss */
.breadcrumb {
  background: none;
  margin: 0;
  padding: 0;
}
/* line 373, ../sass/page.scss */
.breadcrumb a {
  color: #7d7d7d;
  border-bottom: 1px solid #11b7da;
}
/* line 376, ../sass/page.scss */
.breadcrumb a:hover, .breadcrumb a:focus {
  color: #11b7da;
}
/* line 380, ../sass/page.scss */
.breadcrumb a:first-child:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f015";
  margin-right: 3px;
}

/* main */
/* line 390, ../sass/page.scss */
.main {
  padding-bottom: 15px;
}
/* line 392, ../sass/page.scss */
.main .container {
  position: relative;
}

/* Panel */
/* line 397, ../sass/page.scss */
#panel-first {
  background: #333333;
  color: white;
  padding: 15px 0;
  text-align: center;
}
/* line 402, ../sass/page.scss */
#panel-first a {
  color: #11b7da;
}
/* line 404, ../sass/page.scss */
#panel-first a:hover, #panel-first a:focus {
  text-decoration: underline;
}

/* line 410, ../sass/page.scss */
#panel-second {
  margin-bottom: 0;
  padding: 0 0 15px;
}
/* line 413, ../sass/page.scss */
#panel-second .block {
  float: left;
  width: 50%;
}
/* line 416, ../sass/page.scss */
#panel-second .block ul.menu {
  float: right;
  margin-top: 15px;
}
/* line 419, ../sass/page.scss */
#panel-second .block ul.menu li {
  display: inline-block;
  position: relative;
  padding: 0;
}
/* line 423, ../sass/page.scss */
#panel-second .block ul.menu li:before {
  content: "â€¢";
  margin-right: 3px;
}
/* line 428, ../sass/page.scss */
#panel-second .block ul.menu li.first:before {
  content: "";
}
/* line 432, ../sass/page.scss */
#panel-second .block ul.menu li a {
  color: #7d7d7d;
}
/* line 434, ../sass/page.scss */
#panel-second .block ul.menu li a:hover, #panel-second .block ul.menu li a:focus {
  color: #11b7da;
}
/* line 441, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item {
  margin: 0;
}
/* line 443, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select {
  background: #eaeaea !important;
  border-color: #7d7d7d;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
}
/* line 448, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select label {
  color: #7d7d7d;
  line-height: 1.4em !important;
  margin-bottom: 0;
}
/* line 453, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-down {
  border-top-color: #11b7da;
  border-width: 4px !important;
  margin-top: -1px;
}
/* line 458, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-select .dd-pointer-up {
  border-bottom-color: #11b7da !important;
  margin-top: -6px;
}
/* line 464, ../sass/page.scss */
#panel-second .block .lang_dropdown_form .form-item .dd-options label {
  color: #7d7d7d;
  line-height: 1.4em !important;
  margin-bottom: 0;
}

/* line 475, ../sass/page.scss */
#panel-footer {
  background-color: #11b7da;
  background-repeat: repeat;
  background-image: -webkit-linear-gradient(right, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Safari 5.1-6*/
  background-image: -moz-linear-gradient(left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Fx 3.6-15*/
  background-image: -ms-linear-gradient(left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*I.E 10*/
  background-image: linear-gradient(to left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Standard*/
  color: white;
  padding: 30px 0 20px;
  margin-bottom: 0;
}
/* line 480, ../sass/page.scss */
#panel-footer a {
  color: white;
}
/* line 482, ../sass/page.scss */
#panel-footer a:hover, #panel-footer a:focus {
  color: #333333;
}
/* line 486, ../sass/page.scss */
#panel-footer h2 {
  font-family: armataregular, sans-serif;
  font-size: 1.167em;
  text-transform: uppercase;
  color: white;
}
/* line 491, ../sass/page.scss */
#panel-footer ul.menu li {
  padding-bottom: 5px;
}
/* line 493, ../sass/page.scss */
#panel-footer ul.menu li a {
  color: white;
  display: block;
  position: relative;
  padding-left: 10px;
}
/* line 498, ../sass/page.scss */
#panel-footer ul.menu li a:before {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0da";
  position: absolute;
  left: 0;
  top: 0;
}
/* line 505, ../sass/page.scss */
#panel-footer ul.menu li a:hover, #panel-footer ul.menu li a:focus {
  color: #333333;
}
/* line 512, ../sass/page.scss */
#panel-footer .views-field-created,
#panel-footer .views-field-name {
  color: #333333;
}
/* line 514, ../sass/page.scss */
#panel-footer .views-field-created .username,
#panel-footer .views-field-name .username {
  color: white !important;
}
/* line 519, ../sass/page.scss */
#panel-footer .social-list {
  float: left;
  margin-bottom: 0;
  padding-left: 0;
  margin-top: 15px;
  float: right;
}
/* line 82, ../sass/includes/_mixins.scss */
#panel-footer .social-list li {
  display: inline-block;
  list-style: none;
  margin-right: 15px;
}
/* line 86, ../sass/includes/_mixins.scss */
#panel-footer .social-list li a {
  color: white;
  height: 20px;
  line-height: 1.6;
  position: relative;
  width: 20px;
}
/* line 92, ../sass/includes/_mixins.scss */
#panel-footer .social-list li a:before {
  font-size: 1.167em;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
}
/* line 96, ../sass/includes/_mixins.scss */
#panel-footer .social-list li a:hover, #panel-footer .social-list li a:focus {
  color: #11b7da;
}
/* line 99, ../sass/includes/_mixins.scss */
#panel-footer .social-list li a span {
  display: none;
}
/* line 523, ../sass/page.scss */
#panel-footer .social-list li {
  margin-left: 15px;
  margin-right: 0;
}
/* line 526, ../sass/page.scss */
#panel-footer .social-list li a:hover, #panel-footer .social-list li a:focus {
  color: #333333;
}
/* line 529, ../sass/page.scss */
#panel-footer .social-list li a:before {
  font-size: 1.5em;
}
/* line 534, ../sass/page.scss */
#panel-footer .last-block {
  text-align: right;
}

/* Footer */
/* line 541, ../sass/page.scss */
#footer {
  background: #333333;
  color: white;
  padding: 15px 0;
}
/* line 545, ../sass/page.scss */
#footer .block {
  float: left;
  width: 50%;
}
/* line 550, ../sass/page.scss */
#footer ul.menu li {
  display: inline-block;
  margin-right: 20px;
}
/* line 553, ../sass/page.scss */
#footer ul.menu li a {
  color: white;
}
/* line 555, ../sass/page.scss */
#footer ul.menu li a:hover, #footer ul.menu li a:focus, #footer ul.menu li a.active {
  color: #11b7da;
  text-decoration: none;
}
/* line 562, ../sass/page.scss */
#footer a:hover, #footer a:focus {
  color: #11b7da;
  text-decoration: underline;
}
/* line 566, ../sass/page.scss */
#footer .copyright {
  margin: 0;
  text-align: right;
}
/* line 570, ../sass/page.scss */
#footer .copyright a:hover, #footer .copyright a:focus {
  text-decoration: none;
  color: white;
}

/* Contact form */
/* line 579, ../sass/page.scss */
.contact-form {
  background: white;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  padding: 0;
}
/* line 585, ../sass/page.scss */
.contact-form .form-item label {
  display: block;
}
/* line 588, ../sass/page.scss */
.contact-form .form-item .form-text {
  width: 100%;
}
/* line 593, ../sass/page.scss */
.contact-form .form-type-checkbox .form-checkbox {
  margin: 2px 5px 0 0;
}
/* line 596, ../sass/page.scss */
.contact-form .form-type-checkbox label {
  display: inline-block;
}
/* line 600, ../sass/page.scss */
.contact-form .form-actions {
  margin-bottom: 0;
}

/* line 605, ../sass/page.scss */
#contact-personal-form {
  padding: 15px;
}
/* line 607, ../sass/page.scss */
#contact-personal-form input[type="text"] {
  width: 50%;
}

/* line 611, ../sass/page.scss */
.forum-contact1 {
  margin-bottom: 0;
}
/* line 613, ../sass/page.scss */
.forum-contact1 .webform-client-form {
  margin: 0 -7px;
}
/* line 615, ../sass/page.scss */
.forum-contact1 .webform-client-form .form-item {
  float: left;
  padding: 0 7px;
  width: 33.33%;
}
/* line 619, ../sass/page.scss */
.forum-contact1 .webform-client-form .form-item .form-text {
  width: 100%;
}
/* line 623, ../sass/page.scss */
.forum-contact1 .webform-client-form .form-actions {
  padding: 0 7px;
}
/* line 626, ../sass/page.scss */
.forum-contact1 .webform-client-form .webform-component-textarea {
  clear: both;
  float: none;
  width: 100%;
}
/* line 632, ../sass/page.scss */
.forum-contact1 .field-type-text-with-summary {
  padding: 0 7px;
}
/* line 634, ../sass/page.scss */
.forum-contact1 .field-type-text-with-summary address {
  line-height: 2em;
}

/* line 640, ../sass/page.scss */
.forum-contact2 {
  margin: 0;
}
/* line 642, ../sass/page.scss */
.forum-contact2 .webform-client-form {
  float: right;
  margin-left: 20px;
  width: 50%;
}
/* line 646, ../sass/page.scss */
.forum-contact2 .webform-client-form .form-text {
  width: 100%;
}
/* line 651, ../sass/page.scss */
.forum-contact2 .field-type-text-with-summary address {
  line-height: 2em;
}

/* line 657, ../sass/page.scss */
.contact-content .fa {
  margin-right: 5px;
}

/* Login page */
/* line 664, ../sass/page.scss */
.ctools-use-modal-processed .form-text {
  margin-bottom: 5px;
  width: 100%;
}
/* line 668, ../sass/page.scss */
.ctools-use-modal-processed label {
  margin-bottom: 5px;
}
/* line 671, ../sass/page.scss */
.ctools-use-modal-processed .user-picture {
  display: none;
}

/* line 675, ../sass/page.scss */
#user-login, #user-register-form, #user-pass, .profile {
  background-color: white;
  border: 1px solid #eaeaea;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin: 20px auto;
  padding: 20px 20px 10px;
  overflow: hidden;
}
/* line 683, ../sass/page.scss */
#user-login.form-item-openid-identifier, #user-register-form.form-item-openid-identifier, #user-pass.form-item-openid-identifier, .profile.form-item-openid-identifier {
  float: none;
}
/* line 686, ../sass/page.scss */
#user-login .form-text, #user-register-form .form-text, #user-pass .form-text, .profile .form-text {
  margin-bottom: 5px;
  width: 100%;
}
/* line 690, ../sass/page.scss */
#user-login label, #user-register-form label, #user-pass label, .profile label {
  margin-bottom: 5px;
}
/* line 693, ../sass/page.scss */
#user-login .user-picture, #user-register-form .user-picture, #user-pass .user-picture, .profile .user-picture {
  display: none;
}
/* line 696, ../sass/page.scss */
#user-login h3, #user-register-form h3, #user-pass h3, .profile h3 {
  background-color: #11b7da;
  background-repeat: repeat;
  background-image: -webkit-linear-gradient(right, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Safari 5.1-6*/
  background-image: -moz-linear-gradient(left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Fx 3.6-15*/
  background-image: -ms-linear-gradient(left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*I.E 10*/
  background-image: linear-gradient(to left, #11b7da, rgba(17, 183, 218, 0)), url(../images/bg-title.png);
  /*Standard*/
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  margin: -20px -20px 15px;
  padding: 10px 20px;
  color: #fff;
  font-family: armataregular, sans-serif;
  font-size: 1.167em;
  text-transform: uppercase;
}

/* line 709, ../sass/page.scss */
#user-login .form-item,
#user-pass .form-item,
#user-register-form .form-item {
  float: left;
  width: 50%;
}
/* line 712, ../sass/page.scss */
#user-login .form-item .form-text,
#user-pass .form-item .form-text,
#user-register-form .form-item .form-text {
  width: 90%;
}

/* line 717, ../sass/page.scss */
#user-login .form-type-checkbox {
  clear: both;
}

/* line 722, ../sass/page.scss */
#user-login .form-checkbox {
  margin: 2px 5px 0 0;
}

/* line 727, ../sass/page.scss */
#user-pass .form-item {
  float: none;
}

/* line 731, ../sass/page.scss */
#user-profile-form {
  background: white;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}
/* line 735, ../sass/page.scss */
#user-profile-form label {
  display: block;
}
/* line 738, ../sass/page.scss */
#user-profile-form legend {
  padding-bottom: 5px;
}
/* line 741, ../sass/page.scss */
#user-profile-form select {
  width: 70%;
}

/* line 747, ../sass/page.scss */
.page-taxonomy .node {
  margin-bottom: 15px;
}

/* contact */
/* line 754, ../sass/page.scss */
.page-contact .region-content {
  background: white;
  overflow: hidden;
  padding: 15px;
}
/* line 758, ../sass/page.scss */
.page-contact .region-content > .block {
  float: left;
  width: 50%;
}
/* line 761, ../sass/page.scss */
.page-contact .region-content > .block + .block .block-inner {
  margin-left: 30px;
}
/* line 763, ../sass/page.scss */
.page-contact .region-content > .block + .block .block-inner address {
  line-height: 2;
}
/* line 767, ../sass/page.scss */
.page-contact .region-content > .block h2 {
  font-family: armataregular, sans-serif;
  font-size: 1.167em;
  text-transform: uppercase;
}

/* line 774, ../sass/page.scss */
.node-webform ul.inline {
  clear: both;
}

/* line 779, ../sass/page.scss */
#gmap {
  margin-top: -15px;
}
/* line 781, ../sass/page.scss */
#gmap iframe {
  border: none;
  margin-bottom: 20px;
  width: 100%;
  display: block;
}

/* line 789, ../sass/page.scss */
.submenu-extend {
  color: white;
  position: absolute;
  left: 15px;
  top: 102px;
  z-index: 99;
}

/* 404 page */
/* line 798, ../sass/page.scss */
.page-404 {
  margin: 100px auto 0;
  text-align: center;
  color: #7d7d7d;
  width: 50%;
}
/* line 803, ../sass/page.scss */
.page-404 h1 {
  color: #11b7da;
  font-family: armataregular, sans-serif;
  font-size: 1.167em;
  text-transform: uppercase;
  font-size: 16em;
  line-height: 1;
  margin: 0 !important;
}
/* line 810, ../sass/page.scss */
.page-404 #errorbox {
  margin-top: 15px;
}
/* line 812, ../sass/page.scss */
.page-404 #errorbox a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #7d7d7d;
  color: white;
  display: inline-block;
  padding: 10px 20px;
}
/* line 818, ../sass/page.scss */
.page-404 #errorbox a:hover, .page-404 #errorbox a:focus {
  background: #11b7da;
}

/* */
/* line 826, ../sass/page.scss */
.ddsDefault .dd-selected {
  padding-bottom: 5px;
  padding-top: 5px;
}
/* line 829, ../sass/page.scss */
.ddsDefault .dd-selected img {
  margin-top: 1px;
}

/* Page search */
/* line 836, ../sass/page.scss */
.page-search #content {
  background: white;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}

/* line 845, ../sass/page.scss */
.search-results li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

/* faq */
/* line 853, ../sass/page.scss */
#faq-order-settings-form {
  background: white;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}
/* line 858, ../sass/page.scss */
#faq-order-settings-form table {
  width: 100%;
  margin-bottom: 15px;
}
/* line 862, ../sass/page.scss */
#faq-order-settings-form th, #faq-order-settings-form td {
  padding: 10px;
}
/* line 865, ../sass/page.scss */
#faq-order-settings-form tr.even, #faq-order-settings-form tr.odd {
  background: none;
  padding: 0;
  border-color: #eee;
}

/* line 872, ../sass/page.scss */
.node-forum-form {
  background: white;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  padding: 15px;
}

/* messages */
/* line 879, ../sass/page.scss */
#messages {
  margin-bottom: 15px;
}

/* line 883, ../sass/page.scss */
.comment-form .forum-post {
  margin: -15px -15px 15px;
}

/* line 888, ../sass/page.scss */
.forum-post-links ul.links li {
  margin-right: 5px;
}
/* line 890, ../sass/page.scss */
.forum-post-links ul.links li a {
  padding: 5px 20px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 898, ../sass/page.scss */
.search-form input {
  height: 30px;
}

/* line 904, ../sass/page.scss */
.author-pane-link span {
  margin: 0 !important;
}
